<!DOCTYPE html>
<html>
  <head>
    <title>Analise de Transações</title>
    <!-- Link para o CSS do Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"/>
    <!-- Link para o seu CSS personalizado -->
    <link href="meu-estilo.css" rel="stylesheet"/>
    <!-- Script para carregar o jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <!-- Barra de menu -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="home">IMPORTAÇÕES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cadastro">CADASTRAR USUÁRIOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="user">USUÁRIOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="logout">SAIR</a>
            </li>
        </div>
      </div>
    </nav>
  <body>
    <hr>

    <div class="container-fluid">
<head>
  <meta charset="utf-8">

  
  <title>Lista de Transações e Registros</title>
  
</head>

<h1>DETALHE DA IMORTAÇÃO</h1>
<table>
  <thead>
    <tr>
      <th>Importado em</th>
      <th>Importado por</th>
      <th>Data transações</th>

    </tr>
  </thead>
  <tbody>
    <% listaRegistro.forEach((registro) => { %>
      <tr>
        <td><%= registro.dataImportacao %></td>
        <td><%= registro.userId %></td>
        <td><%= registro.dataTransacao %></td>

      </tr>
    <% }); %>
  </tbody>
</table>

<body>
  <h1>Lista de Transações</h1>
  <table>
    <thead>
      <tr>
        <h2>Origem</h2>
        <table>

        <th>Banco de Origem</th>
        <th>Agência de Origem</th>
        <th>Conta de Origem</th>
        <tbody>
          <% listaTransacao.forEach((transacao) => { %>
            <tr>
              <td><%= transacao.bOrigem %></td>
              <td><%= transacao.aOrigem %></td>
              <td><%= transacao.cOrigem %></td>

            </tr>
          <% }); %>
        </tbody>
      </table>

        <table>

        <h2>Destino</h2>
        <th>Banco de Destino</th>
        <th>Agência de Destino</th>
        <th>Conta de Destino</th>
        <th>Valor da Transação</th>


      </tr>
    </thead>
    <tbody>
      <% listaTransacao.forEach((transacao) => { %>
        <tr>
 
          <td><%= transacao.bDestino %></td>
          <td><%= transacao.aDestino %></td>
          <td><%= transacao.cDestino %></td>
          <td><%= transacao.vTransacao %></td>
        </table>
        </tr>
      <% }); %>
    </tbody>
  </table>

</body>
</html>
